*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
    padding: 20px;
}

.button-div{
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 10px;
}

.remove{
    display: flex;
    align-items: center;
    justify-content: space-between;
}